.cardWrapper{
    composes: cardWrapper from "../StepPhoneEmail/StepPhoneEmail.module.css";
    }
   
  
    .actionButtonWrap{
    composes: actionButtonWrap from "../StepPhoneEmail/StepPhoneEmail.module.css";
    }
    .bottomParagraph{
        composes: actionButtonWrap from "../StepPhoneEmail/StepPhoneEmail.module.css";
    }